# Variables de entorno
# Configuración del servidor
PORT=3000
WEBPAY_ENVIRONMENT=INTEGRATION
ENFORCE_LEGAL_HOURS=false

# Credenciales y Configuración de Bicom ERP (Rellenar cuando se tengan)
BICOM_API_URL=
BICOM_API_KEY=
BICOM_USER=
BICOM_PASSWORD=
